<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <div class="container">
      <p> {{feed}} </p>
      <div class="imgagenes">
    </div>
      <div class="info">
        <img class="cora" src="/cora.png">
      </div>
    </div>







    <script
     src="http://code.jquery.com/jquery-3.3.1.min.js"
     integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
     crossorigin="anonymous"></script>
     <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
