<!DOCTYPE html>
<html>
<head>
	<title>InstaDea</title>
</head>
<body>
	<nav>
			<div class="logo">
				<img class="logo" src="logo.png">
			</div>
		<div class="in">
		<img class='lupita' src="lupita.png">
			<input placeholder= "Buscar" type="text" value="" style="">
		</div>
			<div>
				<img class='iconos' src="iconos.jpg">
			</div>
	</nav>

	{{#each feed}}
	<div class="container">
		<div><img class="imagenes" src="{{this.img}}"></div>
		<div class="info">
			<img class="cora" src="cora.png" data-id="{{this.id}}">
			<p>{{this.likes}}  </p>
			<p>{{this.titulo}}  </p>
		</div>
	</div>
	{{/each}}
	<script
	 src="http://code.jquery.com/jquery-3.3.1.min.js"
	 integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	 <script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>
